.maren {
  background-image: url(./maren.avif);
  background-size: cover;
}
.anja {
  background-image: url(./anja.avif);
  background-size: cover;
}
.helene {
  background-image: url(./helene.jpeg);
  background-size: cover;
}
.kristin {
  background-image: url(./kristin.avif);
  background-size: cover;
}
.marlene {
  background-image: url(./marlene.avif);
  background-size: cover;
}
.maria {
  background-image: url(./maria.jpg);
  background-size: cover;
}
.m {
  background-image: url(./maren.avif);
  background-size: cover;
}
